/* Police reposante pour p */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');
/* Police funky, retro et colorée */
@import url('https://fonts.googleapis.com/css2?family=Honk&display=swap');
/* Un peu calygraphiée */
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
/* Style scary, fantomatique */
@import url('https://fonts.googleapis.com/css2?family=Cute+Font&display=swap');
/* Classe */
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');
/* Tranchant */
@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    position: relative;
}

.scrollNav {
    transform: translateY(100%);
}

.scrollSubNav {
    transform: translateY(200%);
}

.scrollHeader {
    transform: translateY(-100%);
}

p {
    /* font-family: 'Comfortaa', sans-serif; */
}

h1, h2, h3 {
    /* font-family: 'Honk', system-ui; */
    /* font-family: 'Lobster', sans-serif; */
    /* font-family: 'Cute Font', sans-serif; */
    /* font-family: 'Nanum Myeongjo', serif; */
    font-family: 'Cinzel', serif;
}