@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Calligraffitti&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.scrollNav {
    transform: translateY(100%);
}

.scrollSubNav {
    transform: translateY(200%);
}

.scrollHeader {
    transform: translateY(-100%);
}

.brand {
    font-family: 'Amatic SC', sans-serif;
}

.author {
    font-family: 'Bebas Neue', sans-serif;
}

.calli {
    font-family: "Calligraffitti", cursive;
}

h1, h2, h3, h4 {
    font-family: 'Cinzel', serif;
}